# Tech Sales  

Table of Contents
1. ### Import libraries
2. ### Import Data
3. ### Data Wrangling  
a. Add column to show states     
4. ### Data Cleaning nad Consistency Check  
a. Check for missing data  
b. Check for duplicates  
c. Check for mixed data types

### 1. Import libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# create path
path = r'C:\Users\Hello\Desktop\Tech sales data'

### 2. Import Data

In [3]:
# import boat_data.csv
df_tech = pd.read_csv(os.path.join(path, '2019 tech sales.csv'), index_col = False)
df_County = pd.read_csv(os.path.join(path, 'ABB for States 1.csv'), index_col = False)

In [4]:
df_tech.head()

,Order ID,Product,Quantity Ordered,Price Each,Date,Time,Town,ABB,Zip Code
0,141234,iPhone,1,700.00,22/01/2019,21:25,Boston,MA,2215
1,141235,Lightning Charging Cable,1,14.95,28/01/2019,14:15,Portland,OR,97035
2,141236,Wired Headphones,2,11.99,17/01/2019,13:33,San Francisco,CA,94016
3,141237,27in FHD Monitor,1,149.99,05/01/2019,20:33,Los Angeles,CA,90001
4,141238,Wired Headphones,1,11.99,25/01/2019,11:59,Austin,TX,73301

In [5]:
# check the shape of the dataframe
df_tech.shape

(185686, 9)

In [6]:
# check the information of each column
df_tech.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185686 entries, 0 to 185685
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185686 non-null  int64
 1   Product           185686 non-null  object
 2   Quantity Ordered  185686 non-null  int64
 3   Price Each        185686 non-null  float64
 4   Date              185686 non-null  object
 5   Time              185686 non-null  object
 6   Town              185686 non-null  object
 7   ABB               185686 non-null  object
 8   Zip Code          185686 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 12.8+ MB

In [7]:
df_tech.describe()

            Order ID  Quantity Ordered     Price Each       Zip Code
count  185686.000000     185686.000000  185686.000000  185686.000000
mean   230411.376227          1.124544     184.519255   63876.520912
std     51511.717183          0.443069     332.843838   37776.402046
min    141234.000000          1.000000       2.990000    2215.000000
25%    185833.250000          1.000000      11.950000   10001.000000
50%    230354.500000          1.000000      14.950000   90001.000000
75%    275028.750000          1.000000     150.000000   94016.000000
max    319670.000000          9.000000    1700.000000   98101.000000

### 03 Data Wrangling

In [8]:
df_tech = pd.merge(df_tech, df_County, 
                   on='ABB', 
                   how='left')

In [9]:
# count of curreny used
df_tech['Product'].value_counts(dropna = False)

USB-C Charging Cable          21859
Lightning Charging Cable      21610
AAA Batteries (4-pack)        20612
AA Batteries (4-pack)         20558
Wired Headphones              18849
Apple Airpods Headphones      15525
Bose SoundSport Headphones    13298
27in FHD Monitor               7498
iPhone                         6840
27in 4K Gaming Monitor         6225
34in Ultrawide Monitor         6174
Google Phone                   5522
Flatscreen TV                  4794
Macbook Pro Laptop             4721
ThinkPad Laptop                4126
20in Monitor                   4098
Vareebadd Phone                2065
LG Washing Machine              666
LG Dryer                        646
Name: Product, dtype: int64

In [10]:
# change data type of price to interger
df_tech['Price Each'] = df_tech['Price Each'].astype('int')

In [11]:
# check the dataframe
df_tech.head()

,Order ID,Product,Quantity Ordered,Price Each,Date,Time,Town,ABB,Zip Code,State
0,141234,iPhone,1,700,22/01/2019,21:25,Boston,MA,2215,Massachusetts
1,141235,Lightning Charging Cable,1,14,28/01/2019,14:15,Portland,OR,97035,Oregon
2,141236,Wired Headphones,2,11,17/01/2019,13:33,San Francisco,CA,94016,California
3,141237,27in FHD Monitor,1,149,05/01/2019,20:33,Los Angeles,CA,90001,California
4,141238,Wired Headphones,1,11,25/01/2019,11:59,Austin,TX,73301,Texas

In [12]:
# delete redundant column
del df_tech['ABB']

In [13]:
# check the dataframe
df_tech.head()

,Order ID,Product,Quantity Ordered,Price Each,Date,Time,Town,Zip Code,State
0,141234,iPhone,1,700,22/01/2019,21:25,Boston,2215,Massachusetts
1,141235,Lightning Charging Cable,1,14,28/01/2019,14:15,Portland,97035,Oregon
2,141236,Wired Headphones,2,11,17/01/2019,13:33,San Francisco,94016,California
3,141237,27in FHD Monitor,1,149,05/01/2019,20:33,Los Angeles,90001,California
4,141238,Wired Headphones,1,11,25/01/2019,11:59,Austin,73301,Texas

### 04. Cleaning

In [14]:
# check for missing values
df_tech.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Date                0
Time                0
Town                0
Zip Code            0
State               0
dtype: int64

In [15]:
# check the shape of the clean dataframe
df_tech.shape

(185686, 9)

In [16]:
#check for missing values
df_tech.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Date                0
Time                0
Town                0
Zip Code            0
State               0
dtype: int64

In [17]:
# check for basic statistics
df_tech.describe()

            Order ID  Quantity Ordered     Price Each       Zip Code
count  185686.000000     185686.000000  185686.000000  185686.000000
mean   230411.376227          1.124544     183.772643   63876.520912
std     51511.717183          0.443069     333.054160   37776.402046
min    141234.000000          1.000000       2.000000    2215.000000
25%    185833.250000          1.000000      11.000000   10001.000000
50%    230354.500000          1.000000      14.000000   90001.000000
75%    275028.750000          1.000000     150.000000   94016.000000
max    319670.000000          9.000000    1700.000000   98101.000000

In [18]:
# check for basic statistics
df_tech.describe()

            Order ID  Quantity Ordered     Price Each       Zip Code
count  185686.000000     185686.000000  185686.000000  185686.000000
mean   230411.376227          1.124544     183.772643   63876.520912
std     51511.717183          0.443069     333.054160   37776.402046
min    141234.000000          1.000000       2.000000    2215.000000
25%    185833.250000          1.000000      11.000000   10001.000000
50%    230354.500000          1.000000      14.000000   90001.000000
75%    275028.750000          1.000000     150.000000   94016.000000
max    319670.000000          9.000000    1700.000000   98101.000000

In [19]:
# check for duplicates
df_tech_dups = df_tech[df_tech.duplicated()]

In [20]:
df_tech_dups

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Date, Time, Town, Zip Code, State]
Index: []

In [21]:
# check for mixed data type
for col in df_tech.columns.tolist():
  weird = (df_tech[[col]].applymap(type) != df_tech[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_tech[weird]) > 0:
    print (col)

In [22]:
# check for the shape of the cleaned dataframe
df_tech.shape

(185686, 9)

### Export clean dataframe

In [24]:
df_tech.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'tech_data_cleaned.csv'))